.left-side {
    height: 100vh;
    border-right: 1px solid lightgray;
    width: 20%;
  
    button {
      width: 100%;
    }
  
    a {
      text-decoration: none;
    }
  
    span {
      font-size: 18px;
      font-family: 'fangsong';
    }
  
    .count {
      background-color: #9ea0a3;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      display: flex;
      justify-content: center;
      font-family: 'circular';
      color: gray;
    }
  }
  
  .right-side {
    width: 80%;
  
    .input-group {
      input {
        border-radius: 0px !important;
        border: 0px !important;
  
        :focus {
          box-shadow: 0px !important;
          outline: none !important;
        }
      }
      .input-group-text {
        background-color: transparent !important;
        border: 0px !important;
      }
    }
  }
  .button-text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
  }
  .btn_submit {
    background: #2b6282;
    border-radius: 10px;
    width: 100%;
  }
  .modal {
  
    input,
    input:active {
      border: 0px !important;
      width: 100%;
    }
  
    textarea {
      width: 100%;
      border: 0px;
    }
  }